.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
}

.slideYbottom-enter-active,
.slideYbottom-leave-active {
  transition: transform 0.3s ease;
}

.slideYbottom-enter,
.slideYbottom-leave-to {
  transform: translateY(100%);
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* fade fast */
.fadeslow-enter-active,
.fadeslow-leave-active {
  transition: opacity 400ms ease;
}

.fadeslow-enter,
.fadeslow-leave-to {
  opacity: 0;
}

/* fade faster */
.fadefast-enter-active,
.fadefast-leave-active {
  transition: opacity 150ms ease;
}

.fadefast-enter,
.fadefast-leave-to {
  opacity: 0;
}

/* router-view fade */
.routefade-enter-active {
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
  opacity: 0;
}
.routefade-enter-to {
  z-index: 2;
  opacity: 1;
}
.routefade-leave-active {
  z-index: -1;
}
.routefade-leave-to {
  z-index: -1;
}
