.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateX(-100%);
}

.loading {
  @apply border-secondary border-4 rounded-full w-10 h-10;
  animation: spin 500ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}