@import './font-face.css';

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@import './typography.css';
@import './animations.css';
@import './inputs.css';
@import './scrollbars.css';

.no-pull-to-refresh {
  overscroll-behavior: contain;
}

.no-scrollbars {
  @apply overflow-hidden;
}

.has-noise {
  background-image: url(https://res.cloudinary.com/whynotearth/image/upload/v1597904330/BrowTricks/static_v2/noise_m7ti9c.png);
  background-repeat: repeat;
}

.layout-splash {
  background-image: url('https://res.cloudinary.com/whynotearth/image/upload/v1598336510/BrowTricks/static_v2/brandcover_lo3i0l.jpg');
  @apply bg-cover bg-no-repeat;
}

.min-h-vh100 {
  min-height: 100vh;
  min-height: calc(100 * var(--vh));
}
.h-vh100 {
  height: 100vh;
  height: calc(100 * var(--vh));
}

.break-word {
  word-break: break-word;
}
