@import './font-face.css';

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@import './typography.css';
@import './animations.css';
@import './inputs.css';
@import './scrollbars.css';

.has-noise {
  background-image: url(https://res.cloudinary.com/whynotearth/image/upload/v1597904330/BrowTricks/static_v2/noise_m7ti9c.png);
  background-repeat: repeat;
}

.layout-splash {
  background-image: url('https://res.cloudinary.com/whynotearth/image/upload/v1597845106/BrowTricks/static_v2/background-full-page_gon3ol.png');
  @apply bg-cover bg-no-repeat;
}

.min-h-vh100 {
  min-height: 100vh;
  min-height: calc(100 * var(--vh));
}
.h-vh100 {
  height: 100vh;
  height: calc(100 * var(--vh));
}
