@import './font-face.css';

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@import './typography.css';
@import './animations.css';
@import './inputs.css';
@import './scrollbars.css';

html {
  font-family: 'Roboto', sans-serif;
}

:root {
  --navigation-height: 56px;
  --header-height: 60px;
  --navigation-spacer: calc(var(--navigation-height) + 24px);
}

.navigation-spacer {
  margin-bottom: 56px;
  padding-bottom: 24px;
}

.page-content--min-h {
  min-height: calc(
    100 * var(--vh) - var(--navigation-spacer) - var(--header-height)
  );
}

.no-pull-to-refresh {
  overscroll-behavior: contain;
}

.no-scrollbars {
  @apply overflow-hidden;
}

.layout-splash {
  background-image: url('https://res.cloudinary.com/whynotearth/image/upload/v1598336510/BrowTricks/static_v2/brandcover_lo3i0l.jpg');
  @apply bg-cover bg-no-repeat;
}

.min-h-vh100 {
  min-height: 100vh;
  min-height: calc(100 * var(--vh));
}
.h-vh100 {
  height: 100vh;
  height: calc(100 * var(--vh));
}

.break-word {
  word-break: break-word;
}
