@responsive {
  .tg-h1-mobile {
    font-family: ChampagneLimousines, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 40px;
  }

  .tg-h2-mobile {
    font-family: ChampagneLimousines, sans-serif;
    font-style: normal;
    font-weight: normal;
    /* was 24px, decreased dut to large titles in mobile */
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15em;
  }

  .tg-h3-mobile {
    font-family: ChampagneLimousines, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }

  .tg-body-mobile {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  .tg-body-bold-mobile {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }

  .tg-body-hyperlink-mobile {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  .tg-caption-mobile {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }

  .tg-caption-bold-mobile {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
  }

  .tg-caption-strikethrough-mobile {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-decoration-line: line-through;
  }

  .tg-color-label-mobile {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}
